public/catalog.json
public/debian/pool/
public/debian/dists/trixie/Release
public/debian/dists/trixie/Release.gpg
public/debian/dists/trixie/InRelease
public/debian/dists/trixie/main/binary-amd64/Packages
public/debian/dists/trixie/main/binary-amd64/Packages.gz
